$padding-input: 12px;
$border-radiusform: 6px;

.icono-arrow {
    // color: red;
    height: 35px;
    width: 35px;
    cursor: pointer;

    &:hover {
        color: blue;
    }

    color: var(--color-iconoarrow);
}

.icono-hidemform {
    position: absolute;
    right: 0;
    bottom: 1%;
}

.form_visible {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.form_hidem {
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Define la transición */
}

.formtodo {
    padding: 10px 10px;
    padding-bottom: $padding-input;
    border-bottom: 2px solid var(--color-header);
    width: 98%;
    max-width: $max-width;
    margin: 0 auto;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .form_todo {
        // border: 2px solid yellowgreen;
        position: relative;
    }

    &_title {
        // background-color: blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 35px;
    }

    &_form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .formtodo_inputs {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &_label {
        font-weight: 800;
    }

    &_input,
    &_textarea {
        padding: $padding-input $padding-input;
        border-radius: $border-radiusform;
        font-weight: bold;
        font-size: 1rem;
        border: 2px solid $color-borderinput;
    }

    &_textarea {
        resize: none;
    }

    &_submit {
        padding: $padding-input $padding-input;
        border-radius: $border-radiusform;
        border: 1px solid $color-borderinput;
        background-color: var(--color-header);
        color: $color-title;
        font-weight: bolder;
        cursor: pointer;

        &:hover {
            background-color: $color-deletebtn;

        }
    }

    @media (width > $widthMobile) {
        &_form {
            flex-direction: row;
            align-items: start;
            gap: 15px;
        }

        &_inputs {
            flex: 1;
        }

        &_submit {
            margin-right: auto;
            min-width: 150px;
            margin-top: 25px;
        }
    }
}