section {
    max-width: $max-width;
    width: 98%;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.description-todo {
    white-space: pre-line;
}

.listtodos_title {
    // background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    position: relative;
}

.todo-finished {
    border: var(--border-TodoFinished);
}

.todo-pending {
    border: var(--border-TodoPending);
}

.listtodos {
    width: 98%;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .listtodos_activos h3 span,
    .listtodos_terminados h3 span {
        color: red;
        font-size: 1.1rem;
    }


    .listtodos_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;

        .listtodos_btn {
            padding: 4px 15px;
            border: none;
            color: $color-title;
            font-weight: 800;
            background-color: $colorBackground-btn;
            border-radius: 5px;
            cursor: pointer;
            transition: opacity .5s ease;

            &:hover {
                opacity: 0.8;
            }

            &:disabled {
                background-color: gray;
                cursor: not-allowed;
            }
        }
    }

    h3 {
        color: var(--color-titleList);
        font-size: 1.2rem;
        padding: 10px 0;
        text-align: center;
    }

    .todopendientesall,
    .todoterminadosall {
        display: flex;
        gap: 10px;
        padding: 5px 5px;
        cursor: pointer;
    }

    article ul {
        display: grid;
        grid-template-columns: 1fr;
        // flex-direction: column;
        gap: 8px;
        padding-bottom: 10px;

        li {
            padding: 5px 2px;
            // border: 2px solid greenyellow;
            background-color: var(--bgcolor-liTodo);
            border-radius: 5px;
            color: var(--textcolor-liTodo);
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
        }
        
        .titletodo {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 8px;
            justify-content: space-between;
            cursor: pointer;

            .titletodo-text {
                flex: 1;
            }

            label {
                display: flex;
                gap: 10px;
                cursor: pointer;
            }


            .iconos_todo {
                display: none;
                color: $color-deletebtn;
            }

            .iconodelete {
                width: 20px;
                margin-left: auto;

                .svgIconDelete {
                    fill: $color-deletebtn;
                    // height: 100%;
                }
            }

            &:hover {
                opacity: 0.8;
                background-color: rgb(82, 198, 247);
                border-radius: 5px;
            }

            &:hover > .iconos_todo  {
                // display: block;
                display: flex;
                gap: 4px;

            }
        }

        .descriptiontodo {
            padding: 1px 8px;
        }


        .text-typetodo {
                margin-top: auto;
                display: flex;
                justify-content: end;

                span {
                    padding: 5px;
                    font-size: 0.75rem;
                }
        }

        @media (width > calc($widthMobile + 200px)) {
            grid-template-columns: 1fr 1fr;
        }

        @media (width > calc($widthMobile + 300px)) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

.todos-totales {
    padding: 2px 1%;
    display: grid;
    grid-template-columns: 1fr;
    // justify-content: space-between;
    gap: 10px;
    cursor: pointer;

    > * {
        display: flex;
        gap: 15px;
        padding: 10px 5px;
        border-radius: 5px;
    }

    .title_total {
        border: 2px goldenrod solid;
        &:hover {
            background-color: goldenrod;
        }
    }

    .title_pending {
        border: var(--border-TodoPending);
        &:hover {
            background-color: var(--colorbg-TodosPending);
        }
    }

    .title_finished {
        border: var(--border-TodoFinished);
        &:hover {
            background-color: var(--colorbg-TodosFinished);
        }
    }

    @media (width > calc($widthMobile + 200px)) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }


}