
$max-width: 950px;
$widthMobile: 550px;

// Colors
// var(--color-header): rgb(56, 156, 209);
$color-deletebtn: rgb(16, 10, 137);
$color-borderinput: rgba(5, 5, 181, 0.843);
$color-title: rgba(255, 255, 255, 0.957);
$colorBackground-btn: rgba(246, 38, 38, 0.9);
$colorBacground: white;


:root[data-theme='light'] {
    --color-header: rgb(56, 156, 209);
    --color-titleList: var(--color-header);
    --bgcolor-liTodo: rgb(191, 239, 252);
    --textcolor-liTodo: black;
    --bgColorToastify: rgb(53, 124, 195);
    --bgTextToastify: black;
    --color-iconoarrow: var(--color-header);
    --colorbg-TodosPending: rgba(190, 28, 28, 0.859);
    --colorbg-TodosFinished:  rgb(21, 59, 21);
    --border-TodoPending: 3px dashed var(--colorbg-TodosPending);
    --border-TodoFinished: 3px solid var(--colorbg-TodosFinished);
    background-color: white;
    color: black;
}

:root[data-theme='dark'] {
    --color-header: rgb(7, 4, 89);
    --color-titleList: white;
    --bgcolor-liTodo: rgb(43, 41, 41);
    --textcolor-liTodo: white;
    --bgColorToastify: rgba(1, 0, 47, 0.825);
    --bgTextToastify: white;
    --color-iconoarrow: rgba(22, 114, 184, 0.815);
    --colorbg-TodosPending: rgba(190, 28, 28, 0.859);
    --colorbg-TodosFinished: rgb(132, 209, 132);
    --border-TodoPending: 2px dashed var(--colorbg-TodosPending);
    --border-TodoFinished: 2px solid var(--colorbg-TodosFinished);
    background-color: rgba(5, 5, 5, 0.943);
    color: white;
}
