@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
@import './variables';
@import './components/footer';
@import './components/headers';
@import './components/inputtodo';
@import './components/listtodo';
@import './components/theme';
@import './components/mainpage';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    font-size: 15px;
}

ul, ol {
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


// Iconos comunes para varios componentes: inputtodo y listtodo

.icono-arrow {
    // color: red;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 1%;
    cursor: pointer;

    &:hover {
        color: blue;
    }

    color: var(--color-iconoarrow);
}

.icono-hidemform {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.form_visible {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.form_hidem {
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Define la transición */
}

// Spinner css

.spiner-loader {
    width: 100%;
    min-height: 150px;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    margin: 0 auto;
  }

  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }

  .loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }