@import './variables';
@import './components/footer';
@import './components/headers';
@import './components/inputtodo';
@import './components/listtodo';
@import './components/theme';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

ul, ol {
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


// Iconos comunes para varios componentes: inputtodo y listtodo

.icono-arrow {
    // color: red;
    height: 35px;
    width: 35px;
    position: absolute;
    right: 1%;
    cursor: pointer;

    &:hover {
        color: blue;
    }

    color: var(--color-iconoarrow);
}

.icono-hidemform {
    position: absolute;
    right: 1%;
    bottom: 1%;
}

.form_visible {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.form_hidem {
    opacity: 0;
    transition: opacity 0.5s ease;
    /* Define la transición */
}
